@font-face {
  font-family: 'ArcadeFont';
  src: url('../font/ARCADE_N.TTF') format('tff'),
       url('../font/ARCADE_N.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: small;
 }
 html,
 body {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   /* font-family: Retrograde; */
   /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
 }
 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
   background-color: yellow !important;
 }
 .active-tv-font {
   /* margin-top: 8px;
   transform: scale(.8); */
   font-family: "ArcadeFont", cursive !important;
 }
 a {
   color: inherit;
   text-decoration: none;
 }
 
 * {
   box-sizing: border-box;
   /* border: 0.2px solid blue; */
 }
 /* width */
 ::-webkit-scrollbar {
   width: 7px;
   height: 8px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #111;
   border-radius: 20px;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   /* background: #32a453; */
   background: #757575;
   border-radius: 20px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }
 .show-item {
   width: 100%;
 }
 .show-item:hover {
   transform: scale(0.9);
 }
 .swiper {
   width: 100%;
   height: 85vh;
   /* min-height: 75vh; */
 }
 .swiper-pagination >>> .swiper-pagination-bullet,
 .progressbar {
   opacity: 1;
   border: white solid 1px;
   background-color: rgb(255, 208, 0);
 }
 .swiper-pagination >>> .swiper-pagination-bullet-active,
 .progressbar {
   background-color: transparent;
 }
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: transparent;
 
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }
 #latest-shows-swiper .swiper {
   min-height: 250px;
   max-height: 350px;
 }
 /* #latest-shows-swiper > .latest-shows-swiper .swiper-slide > * {
   background:green;
 }   */
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .scale-down-center {
   -webkit-animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
     both;
   animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
 }
 .scale-up-center {
   -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
     both;
   animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
 }
 @-webkit-keyframes scale-down-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 @keyframes scale-down-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 /* ----------------------------------------------
  * Generated by Animista on 2022-5-6 12:4:55
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
 
 /**
  * ----------------------------------------
  * animation scale-up-center
  * ----------------------------------------
  */
 @-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 @keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 
 /*  Login and sign up pages*/
 input:focus {
   outline: none !important;
 }
.confirmInput::placeholder{
  font-family: "ArcadeFont", cursive !important;
  font-size: 10px;
  text-align: center;
}
 
 .bulb {
   /* width:40px ; */
   height: 90px;
   object-fit: cover;
   /* border: 1px solid red; */
   object-position: top;
   margin-top: -30px;
 }
 
 @media (max-width: 900px) {
   .bulb {
     height: 30px;
   margin-top: -10px;
 
   }
 }
 

.card{
  display: inline-block;

  transition: all 0.3s ease-in;
  
}
.card:hover {
  transform: scale(1.05);
}


/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.popclose {
 
  top: 0;
  padding: 5px 0;
  margin: 0 0 0 750px;
  color: white;
  text-decoration: none;
  font-size: 36px;
}


 .swiper-button-next::after { 
  color: black; 
  font-weight: lighter !important;
}
 .swiper-button-prev::after { color: black; }

 /* done */

 /* Like shows button */
 .Episodesbutton{
  color: red;
  cursor: pointer;
 };

 .Episodehover{
  transition: 3s;
  transition: ease-out;
 }

 .Episodehover img{
  display: block;
 }

 .Episodehover:hover{
  transform: scale(1.1);
  z-index: 1;
  width:"3000px";
  transition: ease-in-out;
  transition: 1s;
 }


 



 