@font-face {
  font-family: 'ArcadeFont';
  src: url('../font/ARCADE_N.TTF') format('tff'),
       url('../font/ARCADE_N.TTF') format('woff');
  font-weight: normal;
  font-style: normal;
  font-size: small;
 }
 html,
 body {
   padding: 0;
   margin: 0;
   /* font-family: Retrograde; */
   /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
 }
 .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
   background-color: yellow !important;
 }
 .active-tv-font {
   /* margin-top: 8px;
   transform: scale(.8); */
   font-family: "ArcadeFont", cursive !important;
 }
 a {
   color: inherit;
   text-decoration: none;
 }
 
 * {
   box-sizing: border-box;
   /* border: 0.2px solid blue; */
 }
 /* width */
 ::-webkit-scrollbar {
   width: 7px;
   height: 8px;
 }
 
 /* Track */
 ::-webkit-scrollbar-track {
   background: #111;
   border-radius: 20px;
 }
 
 /* Handle */
 ::-webkit-scrollbar-thumb {
   background: #32a453;
   border-radius: 20px;
 }
 
 /* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
   background: #555;
 }
 .show-item {
   width: 100%;
 }
 .show-item:hover {
   transform: scale(0.9);
 }
 .swiper {
   width: 100%;
   height: 85vh;
   /* min-height: 75vh; */
 }
 .swiper-pagination >>> .swiper-pagination-bullet,
 .progressbar {
   opacity: 1;
   border: white solid 1px;
   background-color: rgb(255, 208, 0);
 }
 .swiper-pagination >>> .swiper-pagination-bullet-active,
 .progressbar {
   background-color: transparent;
 }
 .swiper-slide {
   text-align: center;
   font-size: 18px;
   background: transparent;
 
   /* Center slide text vertically */
   display: -webkit-box;
   display: -ms-flexbox;
   display: -webkit-flex;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;
 }
 #latest-shows-swiper .swiper {
   min-height: 250px;
   max-height: 350px;
 }
 /* #latest-shows-swiper > .latest-shows-swiper .swiper-slide > * {
   background:green;
 }   */
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .scale-down-center {
   -webkit-animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
     both;
   animation: scale-down-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
 }
 .scale-up-center {
   -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
     both;
   animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
 }
 @-webkit-keyframes scale-down-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 @keyframes scale-down-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 /* ----------------------------------------------
  * Generated by Animista on 2022-5-6 12:4:55
  * Licensed under FreeBSD License.
  * See http://animista.net/license for more info. 
  * w: http://animista.net, t: @cssanimista
  * ---------------------------------------------- */
 
 /**
  * ----------------------------------------
  * animation scale-up-center
  * ----------------------------------------
  */
 @-webkit-keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 @keyframes scale-up-center {
   0% {
     -webkit-transform: scale(0.5);
     transform: scale(0.5);
   }
   100% {
     -webkit-transform: scale(1);
     transform: scale(1);
   }
 }
 
 /*  Login and sign up pages*/
 input:focus {
   outline: none !important;
 }
 
 .bulb {
   /* width:40px ; */
   height: 90px;
   object-fit: cover;
   /* border: 1px solid red; */
   object-position: top;
   margin-top: -30px;
 }
 
 @media (max-width: 900px) {
   .bulb {
     height: 30px;
   margin-top: -10px;
 
   }
 }
 
 /* done */
 